div.show-detail {
    margin-top: -30px;
    text-align: right;
}

div.show-detail a {
    font-family: FarDastNevisOTF !important;
    text-decoration: none;
    font-size: 175%;
    margin-right: 1%;
    padding: 10px;
    background-color: #f4f2f0;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

div.show-detail a:hover {
    color: #1177fe;
}
