{% extends 'parts/base/base.html' %}

{% load static %}

{% block title_block %}
  تماس با ما
{% endblock %}

{% block head_block %}
  <link rel="stylesheet" href="{% static 'styles/contactus/contactus.css' %}" />
{% endblock %}

{% block body_block %}
  <div class="contactus-countainar">
    <div class="ertebat">
      <p class="ert">ارتباط با ما</p>
    </div>

    <div class="schcontactus">
      <div class="schnum">
        <h2>کانال شاد</h2>

        <a href="">لینک کانال</a>
      </div>
      <div class="schnum">
        <h2>شماره مدرسه</h2>

        <a href="">35625468</a>
      </div>
    </div>
  </div>

  <div class="part-contactus">
    <div class="moavennn">
      <p class="moavenn">معاونین</p>
    </div>

    <div class="schmoaven">
      <div class="countainermoaven">
        <div class="moaven">
          <div>
            <p>علی حسینی</p>
            <a href="">ای دی شاد</a>
          </div>
          <div>
            <p>معین راش</p>
            <a href="">ای دی شاد</a>
          </div>
        </div>
      </div>
      <div class="countainermoaven">
        <div class="moaven">
          <div>
            <p>امیر محمد محبی</p>
            <a href="">ای دی شاد</a>
          </div>
          <div>
            <p>معین راش</p>
            <a href="">ای دی شاد</a>
          </div>
        </div>
      </div>
    </div>

    <div class="part-contactus">
      <div class="moavennn">
        <p class="moavenn">معاونین</p>
      </div>
  
      <div class="schmoaven">
        <div class="countainermoaven">
          <div class="moaven">
            <div>
              <p>علی حسینی</p>
              <a href="">ای دی شاد</a>
            </div>
            <div>
              <p>معین راش</p>
              <a href="">ای دی شاد</a>
            </div>
          </div>
        </div>
        <div class="countainermoaven">
          <div class="moaven">
            <div>
              <p>امیر محمد محبی</p>
              <a href="">ای دی شاد</a>
            </div>
            <div>
              <p>معین راش</p>
              <a href="">ای دی شاد</a>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
