{% load static %}

<link rel="stylesheet" href="{% static 'styles/parts/alerts/alerts.css' %}" />
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> {% endcomment %}
<script src="{% static 'scripts/offline-libs/jquery.js' %}"></script>
<script src="{% static 'scripts/offline-libs/bootstrap.js' %}"></script>

<div class="form-messages">
  {% for msg in messages %}
    <div class="alert alert-danger alert-dismissible">
      {{ msg }}
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
  {% endfor %}
</div>
