{% extends 'parts/base/base.html' %}

{% load static %}

{% block title_block %}

{% endblock %}

{% block head_block %}
  <link rel="stylesheet" href="{% static 'styles/errhandlers/404.css' %}" />
{% endblock %}

{% block body_block %}
  <div class="div-404">
    <div class="div-404-art">
      <!--  <label class="ascii-art-404">
░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░▒▓█▓▒░░▒▓█▓▒░ 
░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ 
░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ 
░▒▓████████▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░ 
       ░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░ 
       ░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░ 
       ░▒▓█▓▒░▒▓████████▓▒░      ░▒▓█▓▒░ </label>  -->
       <div class="div-404-art">
        <label class="ascii-art-404">
  ░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░▒▓█▓▒░░▒▓█▓▒░ 
  ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ 
  ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░ 
  ░▒▓████████▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░ 
         ░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░ 
         ░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░      ░▒▓█▓▒░ 
         ░▒▓█▓▒░▒▓████████▓▒░      ░▒▓█▓▒░ </label>
    </div>
    <div class="div-404-msg">
      <p>از شما پوزش میخواهیم</p>
      <p>نمیتوانیم آنچه را شما به دنبالش هستید را بیابیم</p>
    </div>

    <a href="" class="ret-home">برگشت به صفحه ی اصلی</a>
  </div>
{% endblock %}
