{% extends 'parts/base/base.html' %}

{% load static %}

{% block title_block %}
  خانه
{% endblock %}

{% block head_block %}
  <link rel="stylesheet" href="{% static 'styles/home/home.css' %}" />

  <link rel="stylesheet" href="{% static 'styles/events/events.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/news/news.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/articles/articles.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/staffs/staffs.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/parts/title/title.css' %}" />
{% endblock %}

{% block body_block %}
  <div class="sch-home-images">
    <img src="../../static/mmd/img/home/sch-gen-img-1.jpg" alt="" />
    <span class="text-on-image">هنرستان زنده یاد محمدیان</span>
  </div>

  <div class="events">
    <div class="show-detail">
      <a href="{% url 'events:events_page' %}">اتفاقات</a>
    </div>

    {% for event in events %}
      <div class="event fdup">
        <a href="{{ event.get_absolute_url }}">
          {% if event.thumbnail %}
            <img src="{{ event.thumbnail.url }}" alt="" />
          {% else %}
            <img src="{% static 'mmd/img/posts/def-post-img.svg' %}" alt="" />
          {% endif %}
        </a>
        <a href="{{ event.get_absolute_url }}"><p>{{ event.body_pre }}</p></a>
      </div>
    {% endfor %}
  </div>

  <div class="news">
    <div class="show-detail">
      <a href="{% url 'news:news_page' %}">اخبار</a>
    </div>

    {% for news_part in news %}
      <div class="news-part fdup">
        <a href="{{ news_part.get_absolute_url }}">
          {% if news_part.thumbnail %}
            <img src="{{ news_part.thumbnail.url }}" alt="" />
          {% else %}
            <img src="{% static 'mmd/img/posts/def-post-img.svg' %}" alt="" />
          {% endif %}
        </a>
        <a href="{{ news_part.get_absolute_url }}"><p>{{ news_part.body_pre }}</p></a>
      </div>
    {% endfor %}
  </div>

  <div class="articles">
    <div class="show-detail">
      <a href="{% url 'articles:articles_page' %}">مقالات</a>
    </div>

    {% for article in articles %}
      <div class="article fdup">
        <a href="{{ article.get_absolute_url }}">
          {% if article.thumbnail %}
            <img src="{{ article.thumbnail.url }}" alt="" />
          {% else %}
            <img src="{% static 'mmd/img/posts/def-post-img.svg' %}" alt="" />
          {% endif %}
        </a>
        <div class="article-inner-div">
          <a href="{{ article.get_absolute_url }}" class="article-title">{{ article.title }}</a>
          <p>{{ article.body_pre }}</p>
          <div class="article-bottom-div">
            <a href="{{ article.author.get_absolute_url }}" class="article-creator">سازنده</a>
            <div class="article-bottom-left-side">
              <label class="article-bottom-left-side-label1"><img src="{% static 'mmd/img/posts/views-icon.png' %}" alt="" />{{ article.views_count }}</label>
              <label><img src="{% static 'mmd/img/posts/comments-icon.png' %}" alt="" />{{ article.article_comments.all|length }}</label>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="staffs">
    <div class="show-detail">
      <a href="{% url 'users:staffs_page' %}">کارکنان</a>
    </div>

    {% for staff in staffs %}
      <a href="{{ staff.get_absolute_url }}">
        <div class="staff fdup">
          {% if staff.img_prof %}
            <img src="{{ staff.img_prof.url }}" alt="" />
          {% else %}
            <img src="{% static 'mmd/img/staffs/def-staff-img.png' %}" alt="" />
          {% endif %}
          <label>{{ staff }}</label>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
